{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}



<main >
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" >
          <div class="col-md-5 p-lg-5 mx-auto my-5"style="color:#F9F3EE">
            <h1 class="display-4 fw-normal" style="color:#F9F3EE"><b><big>Foodful.ly</big></b></h1><br />
            <p class="lead fw-normal" style="color:#F9F3EE">Join the fight as a food waste warrior, creating a greener and tastier future! </p> <br />   
                <a class="small text-muted" href="/contact">Facing any problems? Contact us </a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
      
        
        
      </main>
    
      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE" >User friendly</h1>
                    <p class="text-muted mt-2 fs-5">By creating a market for imperfect food supply and demand, Foodful.ly 
                        connects shoppers seeking affordable options with the availability of these discounted items. 
                        Interested shoppers can quickly sign up on the website and save on their groceries while actively 
                        contributing to reducing food waste.                    
                    </p>
               </div>
               <div class="col-11 col-md-5 my-3">
                <img src="static/remember.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>


      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/win.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE">Prevent Food Wastage </h1>
                    <p class="text-muted mt-2 fs-5">By combating food waste, we can make a significant positive impact 
                        on both the environment and society. Not only can we reduce greenhouse gas emissions generated 
                        by wasted food, but we can also alleviate hunger and promote sustainability. Together, we can 
                        reshape the food industry, ensuring that good food doesn't go to waste and everyone has access 
                        to nourishing meals.
                    </p>
               </div>
          </div>
      </div>
      </section>
    


{% endblock %}